// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Reset styles
@import 'reset';

// Variables
@import 'variables';

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;

    > header {
        display: flex;
        justify-content: space-between;
        background-color: white;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
        padding: 1.2em;

        > hgroup {
            a {
                text-decoration: none;
                font-family: $font-family-sans-serif;
                font-size: 1.5em;
                color: $indigo;
            }
            a:hover {
                text-decoration: underline;
            }
        }

        > hgroup#login {
            display: flex;

            a {
                padding-left: 1em;
            }
        }
    }

    > nav#adminbar {
        display: flex;
        padding: 0.7em;
        background-color: $admin-bg;
        height: 1.2em;
        color: $body-bg;
        font-family: $font-family-sans-serif;
        font-size: 1.2em;
        line-height: 1.2em;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

        > * {
            margin-right: 1em;
        }

        > a {
            color: $body-bg;
        }
        > a:visited {
            color: $body-bg;
        }
    }

    > section {
        display: grid;
        //grid: 2fr 3fr / 1fr;
        align-content: start;
        justify-content: center;
        padding: 2em;
        font-family: $font-family-sans-serif;

        h1, h2, h3 {
            font-family: $font-family-sans-serif;
            font-weight: bold;
            text-align: center;
            margin-top: 1rem;
            margin-bottom: 0.5rem;
        }

        h1 {
            font-size: 2em;
        }

        h2 {
            font-size: 1.5em;
        }

        h3 {
            font-size: 1.25em;
        }

        p {
            text-align: center;
            margin-bottom: .5em;
        }

        .error {
            color: $red;
            font-style: italic;
        }

        ul {
            list-style: disc;
            margin-left: 1em;
        }

        a.button {
            color: black;
            text-decoration: none;
            font-size: 1em;
            line-height: normal;
            text-align: center;
            border: 1px black solid;
            border-radius: 0.2em;
            font-family: $font-family-sans-serif;
        }

        form {
            display: grid;
            grid: auto / auto auto;
            grid-gap: 0.4em;
            padding: .5em;
            max-width: 600px;

            label {
                font-size: 1em;
                align-self: center;
                justify-self: right;
                font-family: $font-family-sans-serif;
            }
            label.required:after {
                content: " *";
                color: red;
            }

            input, button {
                color: black;
                text-decoration: none;
                font-size: 1em;
                line-height: normal;
                text-align: center;
                border: 1px black solid;
                border-radius: 0.2em;
                background-color: white;
                font-family: $font-family-sans-serif;
            }

            textarea {
                grid-column: 1 / 3;
            }

            span.invalid-feedback {
                color: red;
                grid-column: 1 / 3;
            }

            div {
                grid-column: 1 / 3;
                max-height: 10em;
                overflow: scroll;
                border: 1px gray solid;
                padding: .5em;
                margin: .5em;

                * {
                    text-align: left;
                }
            }

            *:last-child {
                grid-column: 1 / 3;
            }
        }

        form.double-action > *:last-child {
            grid-column: unset;
        }


        .label_value {
            display: grid;
            grid: 1fr / 1fr auto auto 1fr;
            justify-content: center;

            .label {
                grid-column: 2 / 3;
                margin-right: 0.5em;
            }
            .value {
                grid-column: 3 / 4;
                justify-self: right;
            }
            hr {
                border-top: 1px black solid;
                grid-column: 2/4;
                margin: 0;
            }
        }
        #notice {
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(1,1,1,0.9);
            padding: 20px;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            * {
                background-color: white;
                display: inline;
                width: fit-content;
                margin: 0.3em;
                padding: 0.3em;
                border-radius: 0.2em;
            }
            .green {
                color: $green;
            }
            .red {
                color: $red;
            }
            .yellow {
                color: $yellow;
            }
        }
        ul.tree {
            list-style: none;

            ul {
                list-style: none;
                display: none;
            }
            li {
                > i {
                    margin-right: -0.7em;
                }
                > i:before{
                    content: "+";
                    cursor: pointer;
                }
                input {
                    margin-left: 0.7em;
                    margin-right: 0.4em;
                }
            }
            li.expanded {
                > i:before {
                    content: "-";
                }
                > ul {
                    display: block;
                }
            }
        }
        table.model_list {
            thead {
                border-bottom: 1px solid black;
                th {
                    font-weight: bold;
                    border-right: 1px solid black;
                    padding: .5em;
                }
                th:last-child {
                    border-right: none;
                }
            }
            tbody {
                tr {
                    border-bottom: 1px solid darkgray;
                    td {
                        border-right: 1px black solid;
                        padding: .5em;
                    }
                    td:last-child {
                        border-right: none;
                    }
                }
                tr:last-child {
                    border-bottom: none;
                }
            }
        }
    }
    section.registration {
        form textarea {
            height: 80px;
        }
    }
    section.shop {
        table#cart {
            thead {
                border-bottom: black solid 1px;
            }
            tbody {
                tr {
                    td {
                        text-align: right;
                        padding: 0 0.2em;
                    }
                    td:first-child {
                        text-align: left;
                    }
                    td:last-child {
                        border-left: black solid 1px;
                    }
                }
                tr:last-child {
                    border-top: black solid 1px;
                }
            }

            > * {
                background: white;
                padding: 0 0.2em;
            }
        }
    }
    section.event_info {
        grid-gap: 0.5em;

        #info {
            display: grid;
            grid: auto / 1fr 1fr;
            grid-column-gap: 0.3em;
            grid-row-gap: 0.5em;
            font-size: 1.2em;

            .label {
                grid-column: 1/2;
                justify-self: end;
            }

            .value {
                grid-column: 2/3;
            }

            form {
                padding: 0;
            }
        }

        #description {
            max-width: 800px;

            p {
                text-align: left;
            }
        }
    }
    section.register {
        input[type=checkbox] {
            justify-self: right;
        }
        label.after {
            justify-self: left;
        }
    }
    section.cards {
        display: flex;
        flex-wrap: wrap;

        padding: 0;

        div.card {
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: space-evenly;
            border: 1px black solid;
            width: 90mm;
            height: 50mm;
            page-break-inside: avoid;
            padding: 0.5em;

            .name {
                font-size: 2em;
                text-align: center;
            }

            .barcode {
                display: flex;
                justify-content: center;
                flex: 0 5 50%;

                svg {
                    max-width: 90%;
                    max-height: 100%;
                }
            }

            .boxes {
                display: flex;

                .box::before {
    				display: inline-block;
    				content: " ";
    				width: 1em;
    				height: 1em;
    				border: 0.05rem black solid;
    				font-size: 0.85em;
    				vertical-align: middle;
    				text-align: center;
    				margin-bottom: 0.2em;
    				border-radius: 0.2em;
    			}
    			.box.checked::before {
    				content: "X";
    			}
            }
        }
        div.card:nth-child(10n) {
            page-break-after: always;
            margin-bottom: 0.9em;
        }
    }
    section.barcodes {
        display: block;

        h1 {
            text-align: center;
        }

        > div {
            display: grid;
            grid: auto / repeat( auto-fill, minmax(250px, 1fr) );
            grid-gap: 1em;
        }
        > *.barcodes {
            page-break-after: always;
        }
    }
}
