@import url(https://fonts.googleapis.com/css?family=Nunito);
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0; /* 1 */
  -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0; /* 1 */
  padding: 0;
  white-space: normal; /* 2 */
  *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%; /* 1 */
  margin: 0; /* 2 */
  vertical-align: baseline; /* 3 */
  *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
  *overflow: visible; /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
  *height: 13px; /* 3 */
  *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield; /* 1 */ /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto; /* 1 */
  vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
body > header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  padding: 1.2em;
}
body > header > hgroup a {
  text-decoration: none;
  font-family: "Nunito", sans-serif;
  font-size: 1.5em;
  color: #6574cd;
}
body > header > hgroup a:hover {
  text-decoration: underline;
}
body > header > hgroup#login {
  display: flex;
}
body > header > hgroup#login a {
  padding-left: 1em;
}
body > nav#adminbar {
  display: flex;
  padding: 0.7em;
  background-color: #171d3a;
  height: 1.2em;
  color: #f8fafc;
  font-family: "Nunito", sans-serif;
  font-size: 1.2em;
  line-height: 1.2em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
body > nav#adminbar > * {
  margin-right: 1em;
}
body > nav#adminbar > a {
  color: #f8fafc;
}
body > nav#adminbar > a:visited {
  color: #f8fafc;
}
body > section {
  display: grid;
  align-content: start;
  justify-content: center;
  padding: 2em;
  font-family: "Nunito", sans-serif;
}
body > section h1, body > section h2, body > section h3 {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
body > section h1 {
  font-size: 2em;
}
body > section h2 {
  font-size: 1.5em;
}
body > section h3 {
  font-size: 1.25em;
}
body > section p {
  text-align: center;
  margin-bottom: 0.5em;
}
body > section .error {
  color: #e3342f;
  font-style: italic;
}
body > section ul {
  list-style: disc;
  margin-left: 1em;
}
body > section a.button {
  color: black;
  text-decoration: none;
  font-size: 1em;
  line-height: normal;
  text-align: center;
  border: 1px black solid;
  border-radius: 0.2em;
  font-family: "Nunito", sans-serif;
}
body > section form {
  display: grid;
  grid: auto/auto auto;
  grid-gap: 0.4em;
  padding: 0.5em;
  max-width: 600px;
}
body > section form label {
  font-size: 1em;
  align-self: center;
  justify-self: right;
  font-family: "Nunito", sans-serif;
}
body > section form label.required:after {
  content: " *";
  color: red;
}
body > section form input, body > section form button {
  color: black;
  text-decoration: none;
  font-size: 1em;
  line-height: normal;
  text-align: center;
  border: 1px black solid;
  border-radius: 0.2em;
  background-color: white;
  font-family: "Nunito", sans-serif;
}
body > section form textarea {
  grid-column: 1/3;
}
body > section form span.invalid-feedback {
  color: red;
  grid-column: 1/3;
}
body > section form div {
  grid-column: 1/3;
  max-height: 10em;
  overflow: scroll;
  border: 1px gray solid;
  padding: 0.5em;
  margin: 0.5em;
}
body > section form div * {
  text-align: left;
}
body > section form *:last-child {
  grid-column: 1/3;
}
body > section form.double-action > *:last-child {
  grid-column: unset;
}
body > section .label_value {
  display: grid;
  grid: 1fr/1fr auto auto 1fr;
  justify-content: center;
}
body > section .label_value .label {
  grid-column: 2/3;
  margin-right: 0.5em;
}
body > section .label_value .value {
  grid-column: 3/4;
  justify-self: right;
}
body > section .label_value hr {
  border-top: 1px black solid;
  grid-column: 2/4;
  margin: 0;
}
body > section #notice {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(1, 1, 1, 0.9);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body > section #notice * {
  background-color: white;
  display: inline;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0.3em;
  padding: 0.3em;
  border-radius: 0.2em;
}
body > section #notice .green {
  color: #38c172;
}
body > section #notice .red {
  color: #e3342f;
}
body > section #notice .yellow {
  color: #ffed4a;
}
body > section ul.tree {
  list-style: none;
}
body > section ul.tree ul {
  list-style: none;
  display: none;
}
body > section ul.tree li > i {
  margin-right: -0.7em;
}
body > section ul.tree li > i:before {
  content: "+";
  cursor: pointer;
}
body > section ul.tree li input {
  margin-left: 0.7em;
  margin-right: 0.4em;
}
body > section ul.tree li.expanded > i:before {
  content: "-";
}
body > section ul.tree li.expanded > ul {
  display: block;
}
body > section table.model_list thead {
  border-bottom: 1px solid black;
}
body > section table.model_list thead th {
  font-weight: bold;
  border-right: 1px solid black;
  padding: 0.5em;
}
body > section table.model_list thead th:last-child {
  border-right: none;
}
body > section table.model_list tbody tr {
  border-bottom: 1px solid darkgray;
}
body > section table.model_list tbody tr td {
  border-right: 1px black solid;
  padding: 0.5em;
}
body > section table.model_list tbody tr td:last-child {
  border-right: none;
}
body > section table.model_list tbody tr:last-child {
  border-bottom: none;
}
body section.registration form textarea {
  height: 80px;
}
body section.shop table#cart thead {
  border-bottom: black solid 1px;
}
body section.shop table#cart tbody tr td {
  text-align: right;
  padding: 0 0.2em;
}
body section.shop table#cart tbody tr td:first-child {
  text-align: left;
}
body section.shop table#cart tbody tr td:last-child {
  border-left: black solid 1px;
}
body section.shop table#cart tbody tr:last-child {
  border-top: black solid 1px;
}
body section.shop table#cart > * {
  background: white;
  padding: 0 0.2em;
}
body section.event_info {
  grid-gap: 0.5em;
}
body section.event_info #info {
  display: grid;
  grid: auto/1fr 1fr;
  grid-column-gap: 0.3em;
  grid-row-gap: 0.5em;
  font-size: 1.2em;
}
body section.event_info #info .label {
  grid-column: 1/2;
  justify-self: end;
}
body section.event_info #info .value {
  grid-column: 2/3;
}
body section.event_info #info form {
  padding: 0;
}
body section.event_info #description {
  max-width: 800px;
}
body section.event_info #description p {
  text-align: left;
}
body section.register input[type=checkbox] {
  justify-self: right;
}
body section.register label.after {
  justify-self: left;
}
body section.cards {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
body section.cards div.card {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  border: 1px black solid;
  width: 90mm;
  height: 50mm;
  page-break-inside: avoid;
  padding: 0.5em;
}
body section.cards div.card .name {
  font-size: 2em;
  text-align: center;
}
body section.cards div.card .barcode {
  display: flex;
  justify-content: center;
  flex: 0 5 50%;
}
body section.cards div.card .barcode svg {
  max-width: 90%;
  max-height: 100%;
}
body section.cards div.card .boxes {
  display: flex;
}
body section.cards div.card .boxes .box::before {
  display: inline-block;
  content: " ";
  width: 1em;
  height: 1em;
  border: 0.05rem black solid;
  font-size: 0.85em;
  vertical-align: middle;
  text-align: center;
  margin-bottom: 0.2em;
  border-radius: 0.2em;
}
body section.cards div.card .boxes .box.checked::before {
  content: "X";
}
body section.cards div.card:nth-child(10n) {
  page-break-after: always;
  margin-bottom: 0.9em;
}
body section.barcodes {
  display: block;
}
body section.barcodes h1 {
  text-align: center;
}
body section.barcodes > div {
  display: grid;
  grid: auto/repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1em;
}
body section.barcodes > *.barcodes {
  page-break-after: always;
}
